@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.ttf) format('truetype');
}

body {
    font-family: 'Open Sans';
}

form input {
    display: block;
    margin: 0 auto;
}

form input[type=checkbox] {
    display: inline;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: #ddd;
    margin: 4px;
    box-shadow: 10px 10px 5px #888888;
}

table tr th, table tr td {
    font-size: 12px;
    border: 1px solid #bbb;
    padding: 2px;
    margin: 0px;
}

.float-left {
    float: left;
}

.component-block {
    display: inline-block;
    border: 1px dashed #666;
    vertical-align: top;
}