@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.ttf) format('truetype');
}

body {
    font-family: 'Open Sans';
}

form input {
    display: block;
}

form input[type=checkbox] {
    display: inline;
}